NLP analysis of all math articles from arXiv.
xml.gz files in `~/.metha`, loaded in Postgres.
Load just enough data to get something meaningful.

344111 articles.

Identifier format before March 2007 differ from the present

In [26]:
import pandas as pd
import nltk
from datetime import datetime

In [27]:
import sys
sys.path.append('..') if '..' not in sys.path else None
from app import db
from models import Article, Author, Category, article_author, article_category

In [4]:
query = db.session().query(Article)

In [30]:
query.filter(
    (Article.submitted >= '2016-01-01') & (Article.submitted <= '2016-12-31')
).count()

36361

In [33]:
query.filter(Article.submitted >= '2017-01-01').count()

27278

In [52]:
query.filter(
    (Article.submitted >= '2016-01-01') & (Article.submitted <= '2016-12-31')
).count()

36361

In [34]:
# query with join example. need Table.c to access columns 
db.session.query(Article.id, Category.name) \
.filter(Article.id == 1) \
.filter(Article.id == article_category.c.article_id) \
.filter(Category.id == article_category.c.category_id) \
.all()

[(1, 'cs.SY'), (1, 'cs.AI'), (1, 'math.OC')]

In [37]:
# num of distinct categories = 13627
def get_categories(i):
    return [c.name for c in db.session.query(Article.id, Category.name) \
    .filter(Article.id == i) \
    .filter(Article.id == article_category.c.article_id) \
    .filter(Category.id == article_category.c.category_id) \
    .all()]

In [44]:
cs = [get_categories(i+1) for i in range(query.count())]
# this takes a while!

In [50]:
len(set( [tuple(x) for x in cs] )) # list is not hashable but tuple is

13627

In [53]:
# 163 categories
db.session.query(Category).count()

163

In [57]:
# 33 math categories
db.session.query(Category.name).filter(Category.name.like('math%')).count()

33

In [58]:
# all articles are math
db.session.query(article_category.c.article_id)\
.filter(Category.id == article_category.c.category_id)\
.filter(Category.name.like('math%'))\
.distinct().count()

344110